<app-header></app-header>

<div class="container-fluid bannerblock bannerblockinner">
  <div class="item">
    <div class="row row-eq-height">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
        <img src="assets/images/banner-img1-presenters.jpg"/>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
        <div class="bannerblockcontent">
          <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid presenters-block1">
  <div class="presenters-block1-wrapper">
    <h2>Please take the time to check out the many incredible <span>presenters</span>,</h2>
    <h3>class organizers and workshop facilitators that we have coming to SpiritCon.</h3>
    <div class="presenters-block1-wrapper-inner">
      <div class="row row-flex">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
            <div class="singlepresenterswrapper">
              <div class="singlepresenterswrappertop">
                <h2>Presenter</h2>
              </div>
              <div class="singlepresenterscontent">
                <div class="half-circle">
                  <div class="half-circle-inner">
                    <img src="assets/images/presenters-img1.jpg"/>
                  </div>
                </div>
                <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <h4>Subjects</h4>
                <div class="presenterdttime">
                  <ul class="list-inline">
                    <li>Times : <span>00:00 PM</span></li>
                    <li>Date : <span>31-03-2018</span></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img2.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img3.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img4.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img5.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img6.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img7.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters">
          <div class="singlepresenterswrapper">
            <div class="singlepresenterswrappertop">
              <h2>Presenter</h2>
            </div>
            <div class="singlepresenterscontent">
              <div class="half-circle">
                <div class="half-circle-inner">
                  <img src="assets/images/presenters-img8.jpg"/>
                </div>
              </div>
              <div class="oval"><label><span>Name:</span> Name of Speaker</label></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <h4>Subjects</h4>
              <div class="presenterdttime">
                <ul class="list-inline">
                  <li>Times : <span>00:00 PM</span></li>
                  <li>Date : <span>31-03-2018</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bottombannerblock">
  <div class="bottombannerblock-wrapper">
    <div class="row row-flex">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="bottombannerblocklogo">
          <img src="assets/images/bottombannerblocklogo.png"/>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="bottombannerblockcontent">
          <h2>SpiritCon Sponsor</h2>
          <h3>The largest selection of Metaphysical products and books in Utah. We are here to assist you on your journey of understanding <span>Metaphysics, Meditation, Pagan, and Holistic living wherever you live.</span> </h3>
          <div class="bottombannerblocklogohiddenstage">
            <img src="assets/images/bottombannerlogo-hiddenstage.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>