
<div class="container-fluid headerblock">
  <div class="headerwrapper">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="logowrapper">
          <a href="index.php"><img src="assets/images/logo.png"></a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 headerblockright">
        <div class="row headerblockrightwrapper">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 newlettercontent">
            <h2>Join Our Newsletter!</h2>
            <h4>Sign up to get a Free Gift</h4>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 newlettersearch">
            <div class="search">
              <input type="text" class="form-control input-sm" placeholder="Your email address" />
              <button type="submit" class="btn btn-primary btn-sm btnserch">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid menublock">
  <div class="manublockwrapper">
    <div class="menudiv">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <span class="responsivemenu">MENU</span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div class="clearfix"></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index" target="_self">Home</a></li>
            <li><a href="/#/convention-center" target="_self">Convention Center</a></li>
            <li><a href="/#/agenda" target="_self">Agenda</a></li>
            <li><a href="/#/presenters" target="_self">Presenters</a></li>
            <li><a href="/#/buy-tickets" target="_self">Buy Tickets</a></li>
            <li><a href="/#/booth-table" target="_self">Booth/Tables</a></li>
            <li><a href="/#/about-spiritCon" target="_self">About SpiritCon</a></li>
            <li class="contactmenu"><a href="/#/contactus" target="_self">Contact Us</a></li>

          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>


  <div class="clearfix"></div>
</div>