<div class="container-fluid footerblock">
  <div class="footerblockwrapper">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 footerblockleft">
        <div class="logowrapper">
          <a href="index.php"><img src="assets/images/logo.png"></a>
        </div>
      </div>
      <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 footerblockright">
        <div class="row footerblockrightwrapper">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 socialmedialinkblock">
            <ul class="list-inline socialmedialinks">
              <li>Follow us</li>
              <li><a href="javascript:void(0)"><img src="assets/images/ftmedia-iconfb.png"></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/ftmedia-icontw.png"></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/ftmedia-icongplus.png"></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/ftmedia-iconskype.png"></a></li>
              <li><a href="javascript:void(0)"><img src="assets/images/ftmedia-iconblog.png"></a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 newlettersearch">
            <div class="search">
              <input type="text" class="form-control input-sm" placeholder="Your email address" />
              <button type="submit" class="btn btn-primary btn-sm btnserch">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footermenu">
        <ul class="list-inline">
          <li class="active"><a href="index" target="_self">Home</a></li>
          <li><a href="/#/convention-center" target="_self">Convention Center</a></li>
          <li><a href="/#/agenda" target="_self">Agenda</a></li>
          <li><a href="/#/presenters" target="_self">Presenters</a></li>
          <li><a href="/#/buy-tickets" target="_self">Buy Tickets</a></li>
          <li><a href="/#/booth-table" target="_self">Booth/Tables</a></li>
          <li><a href="/#/about-spiritCon" target="_self">About SpiritCon</a></li>
          <li class="contactmenu"><a href="/#/contactus" target="_self">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyrightmenu">
        <p>© Copyright 2018 spirit con. All Rights Reserved. </p>
      </div>
    </div>
  </div>
</div>
