<app-header></app-header>

<div class="container-fluid bannerblock bannerblockinner bannerabout">
  <div class="item">
    <div class="row row-eq-height">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
        <img src="assets/images/banner-img1-about.jpg"/>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
        <div class="bannerblockcontent">
          <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
          <h3>SpiritCon was born from the need to have a local place for a witchy, pagan, metaphysical, and healing oriented individual to participate in community and support structures.</h3>
          <h4>There is very little awareness to how large and diverse this of the individual, groups and community at large. We aim to "open dialogue" and build trust and connections to better lead, guide and enhance the spiritual lives of those identifying under the "pagan" banner</h4>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid aboutblock1">
  <div class="row">
    <div class="container contentwrapper">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutblock1contentwrapper">
        <div class="aboutblock1img1leftwrapper">
          <img src="assets/images/aboutblock1-img1.jpg">
        </div>
        <div class="contentcentered">
          <h2>SpiritCon is a safe place for pagans, spiritual seekers and healers to gather in communion for learning, sharing and celebrating together.</h2>
          <h3>Information is something that makes a very large impact in the lives of Pagans and spiritual seekers alike. Coming together to share in education, skill development and share in each other’s unique gifts and ideas can be a very empowering experience.<br><br>We want to explore new and ancient horizons together and inspire each other to live in the pagan and spiritual lifestyles together. <span>Most of all we are very supportive of developing families, communities, organizations and we are all coming together to have fun and explore!</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid indexblock2">
  <div class="row">
    <img src="assets/images/indexblock2-img2mobile.jpg" class="indexblock2-img2mobile" />
    <div class="container contentwrapper">
      <img src="assets/images/indexblock2-img1.jpg" class="indexblock2-img1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock2contentwrapper">
        <div class="indexblock2img1leftwrapper">
          <div class="indexblock2img1leftwrapperheader">
            <h2>Get your tickets for both incredible days at SpiritCon right away</h2>
            <a href="javascript:void(0)" class="bannerblackbtnsml"><span>click here</span></a>
          </div>
          <img src="assets/images/indexblock2-img1.jpg">
        </div>
        <div class="contentcentered">
          <h2>Get your Booth Space or table at SpiritCon and bring your readings or business to the <span>convention!</span></h2>
          <a href="javascript:void(0)" class="bannerblackbtnsml"><span>click here</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid convention-center-gotoblock">
  <div class="contentwrapper">
    <div class="row row-eq-height">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h2>Go to the agenda page now and see what we have in store for these incredible 2 days!</h2>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <a class="banneryellowbtnsml">click here!</a>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid aboutblocklast">
  <div class="row">
    <div class="container contentwrapper">
      <img src="assets/images/aboutblocklast-img1.png" class="aboutblocklastimg1">
      <div class="contentcentered">
        <h1>Our Spirit Board of Directors</h1>
        <h3>All of the tireless work that has gone into creating SpiritCon is given to the credit of everyone involved. Our board has especially put in a lot of time and effort. The following are the <span>“Spirit Board”</span> facilitating the SpiritCon event.</h3>
        <div class="aboutblocklastlists">
          <div class="row row-flex">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Kara Slater</h2>
                  <p><a href="mailto:chiaroscurok@yahoo.com">chiaroscurok@yahoo.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Doug Lucero</h2>
                  <p><a href="mailto:dougdracon@gmail.com">dougdracon@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Hope Gorman</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Stan Slater</h2>
                  <p><a href="mailto:MrSlater13@gmail.com">MrSlater13@gmail.com</a></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Diana Baldwin</h2>
                  <p><a href="mailto:mourn@live.com">mourn@live.com</a></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Michael Sandman</h2>
                  <p><a href="mailto:lordsifmor@gmail.com">lordsifmor@gmail.com</a></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Jessi Lucero</h2>
                  <p><a href="mailto:draconsmate@gmail.com">draconsmate@gmail.com</a></p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 aboutblocklastlistscontentsingle">
              <div class="aboutblocklastlistscontent">
                <div class="aboutblocklastlistscontentinner">
                  <h2>Ric Womble</h2>
                  <p><a href="mailto:ricwomble@gmail.com">ricwomble@gmail.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid videoblock">
  <div class="row videoblockrow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoblockcol">
     <div class="videoblockwrapper">
         <video controls preload="none" poster="app/about-spiritcon/SpiritCon-video-final-v4.jpg">
           <source src="app/about-spiritcon/SpiritCon-video-final-v4.mp4" type="video/mp4">
           <source src="app/about-spiritcon/SpiritCon-video-final-v4.webp" type="video/webp">
         </video>
     </div>
    </div>
  </div>
</div>





<app-footer></app-footer>