<app-header></app-header>

<div class="container-fluid bannerblock bannerblockinner">
  <div class="item">
    <div class="row row-eq-height">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
        <img src="../../assets/images/banner-img1-travellodging.jpg"/>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft bannerblocklefttravelbg">
        <div class="bannerblockcontent">
          <img src="../../assets/images/banner-leftgradient-travellodging.png" class="banner-leftgradient-travellodging" />
          <h2> <img src="../../assets/images/banner-logo-travellodging.png" class="banner-logo-travellodging" />We have an incredible deal with the Hilton Garden Inn that is <span>connected directly to the<br> Convention Center!</span>
          </h2>
          <h4>Just use the discount code “spirit” and you will get your rooms for an incredible $94 a night!</h4>
          <ul>
            <li><a class="banneryellowbtn" target="_self" href="#/boothtable"><span>Go to the Hotel Site now and book your Room!</span></a></li>
            <li><a class="banneryellowbtn" href="javascript:void(0)"><span>Click here now!</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid travellodging-block1">
  <div class="travellodging-block1-wrapper">
    <h2>Plane Flights to Salt Lake City are going for a really good price from</h2>
    <h2><span>several places across the United States!</span></h2>

    <div class="travellodging-block1-wrapper-content">
      <div class="boxtop"></div>
      <div class="travellodging-maincontent">
        <h2>From Denver</h2>
        <div class="travellodging-lists">
          <div class="travellodging-lists-single">
            <div class="row-flex">
              <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12"><img src="../../assets/images/travellodge-screenimg1.jpg" class="travellodgescreenimg" /></div>
              <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="https://www.cheaptickets.com/Flights-Search?trip=roundtrip&leg1=from:Denver%2C%20CO%20(DEN-Denver%20Intl.),to:Salt%20Lake%20City%2C%20Utah,departure:03/30/2018TANYT&leg2=from:Salt%20Lake%20City%2C%20Utah,to:Denver%2C%20CO%20(DEN-Denver%20Intl.),departure:04/01/2018TANYT&passengers=children:0,adults:2,seniors:0,infantinlap:Y&mode=search" target="_blank" class="btnselectcls">Select</a></div>
            </div>
          </div>
          <div class="travellodging-lists-single">
            <div class="row-flex">
              <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12"><img src="../../assets/images/travellodge-screenimg2.jpg" class="travellodgescreenimg" /></div>
              <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="https://www.cheaptickets.com/Flights-Search?trip=roundtrip&leg1=from:Denver%2C%20CO%20(DEN-Denver%20Intl.),to:Salt%20Lake%20City%2C%20Utah,departure:03/30/2018TANYT&leg2=from:Salt%20Lake%20City%2C%20Utah,to:Denver%2C%20CO%20(DEN-Denver%20Intl.),departure:04/01/2018TANYT&passengers=children:0,adults:2,seniors:0,infantinlap:Y&mode=search" target="_blank" class="btnselectcls">Select</a></div>
            </div>
          </div>
          <h3>Go to <a href="https://www.cheaptickets.com/Flights" target="_blank">www.cheaptickets.com</a> now and search for your flight! We will come get you from the Airport no charge!</h3>
        </div>

        <h2>From Phoenix</h2>
        <div class="travellodging-lists">
          <div class="travellodging-lists-single">
            <div class="row-flex">
              <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12"><img src="../../assets/images/travellodge-screenimg3.jpg" class="travellodgescreenimg" /></div>
              <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="https://www.cheaptickets.com/Flights-Search?trip=roundtrip&leg1=from%3APhoenix%2C%20AZ%20(PHX-Sky%20Harbor%20Intl.)%2Cto%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cdeparture%3A03%2F30%2F2018TANYT&leg2=from%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cto%3APhoenix%2C%20AZ%20(PHX-Sky%20Harbor%20Intl.)%2Cdeparture%3A04%2F01%2F2018TANYT&passengers=adults%3A2%2Cchildren%3A0%2Cseniors%3A0%2Cinfantinlap%3AY&options=cabinclass%3Aeconomy&mode=search&origref=www.cheaptickets.com" target="_blank" class="btnselectcls">Select</a></div>
            </div>
          </div>
          <div class="travellodging-lists-single">
            <div class="row-flex">
              <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12"><img src="../../assets/images/travellodge-screenimg4.jpg" class="travellodgescreenimg" /></div>
              <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="https://www.cheaptickets.com/Flights-Search?trip=roundtrip&leg1=from%3APhoenix%2C%20AZ%20(PHX-Sky%20Harbor%20Intl.)%2Cto%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cdeparture%3A03%2F30%2F2018TANYT&leg2=from%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cto%3APhoenix%2C%20AZ%20(PHX-Sky%20Harbor%20Intl.)%2Cdeparture%3A04%2F01%2F2018TANYT&passengers=adults%3A2%2Cchildren%3A0%2Cseniors%3A0%2Cinfantinlap%3AY&options=cabinclass%3Aeconomy&mode=search&origref=www.cheaptickets.com" target="_blank" class="btnselectcls">Select</a></div>
            </div>
          </div>
          <h3>Go to <a href="https://www.cheaptickets.com/Flights" target="_blank">www.cheaptickets.com</a> now and search for your flight! We will come get you from the Airport no charge!</h3>
        </div>

        <h2>From Los Angeles</h2>
        <div class="travellodging-lists">
          <div class="travellodging-lists-single">
            <div class="row-flex">
              <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12"><img src="../../assets/images/travellodge-screenimg5.jpg" class="travellodgescreenimg" /></div>
              <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="https://www.cheaptickets.com/Flights-Search?trip=roundtrip&leg1=from%3ALos%20Angeles%2C%20CA%20(LAX-Los%20Angeles%20Intl.)%2Cto%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cdeparture%3A03%2F30%2F2018TANYT&leg2=from%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cto%3ALos%20Angeles%2C%20CA%20(LAX-Los%20Angeles%20Intl.)%2Cdeparture%3A04%2F01%2F2018TANYT&passengers=adults%3A2%2Cchildren%3A0%2Cseniors%3A0%2Cinfantinlap%3AY&options=cabinclass%3Aeconomy&mode=search&origref=www.cheaptickets.com" target="_blank" class="btnselectcls">Select</a></div>
            </div>
          </div>
          <div class="travellodging-lists-single">
            <div class="row-flex">
              <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12"><img src="../../assets/images/travellodge-screenimg6.jpg" class="travellodgescreenimg" /></div>
              <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><a href="https://www.cheaptickets.com/Flights-Search?trip=roundtrip&leg1=from%3ALos%20Angeles%2C%20CA%20(LAX-Los%20Angeles%20Intl.)%2Cto%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cdeparture%3A03%2F30%2F2018TANYT&leg2=from%3ASalt%20Lake%20City%2C%20UT%2C%20United%20States%20(SLC)%2Cto%3ALos%20Angeles%2C%20CA%20(LAX-Los%20Angeles%20Intl.)%2Cdeparture%3A04%2F01%2F2018TANYT&passengers=adults%3A2%2Cchildren%3A0%2Cseniors%3A0%2Cinfantinlap%3AY&options=cabinclass%3Aeconomy&mode=search&origref=www.cheaptickets.com" target="_blank" class="btnselectcls">Select</a></div>
            </div>
          </div>
          <h3>Go to <a href="https://www.cheaptickets.com/Flights" target="_blank">www.cheaptickets.com</a> now and search for your flight! We will come get you from the Airport no charge!</h3>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>