<app-header></app-header>

<div class="container-fluid bannerblock bannerblockinner">
  <div class="item">
    <div class="row row-eq-height">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
        <img src="assets/images/banner-img1-convention-center.jpg"/>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
        <div class="bannerblockcontent">
          <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid convention-center-mapblock">
  <div class="convention-center-mapblock-wrapper">
      <h2>Welcome to the Davis Convention Center <span>Map!</span></h2>
      <h3>The colored areas below are where we will be holding our amazing event. The Meriden Ballroom will be set for all our classes and the Stratus will be where you will find our incredible booth vendors, readers and healers.</h3>
      <div class="convention-center-mapblock-img-wrapper">
        <img src="assets/images/convention-center-mapblock-img-wrapper.jpg"/>
      </div>
  </div>
</div>

<div class="container-fluid indexblock2">
  <div class="row">
    <img src="assets/images/indexblock2-img2mobile.jpg" class="indexblock2-img2mobile" />
    <div class="container contentwrapper">
      <img src="assets/images/indexblock2-img1.jpg" class="indexblock2-img1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock2contentwrapper">
        <div class="indexblock2img1leftwrapper">
          <div class="indexblock2img1leftwrapperheader">
            <h2>Get your tickets for both incredible days at SpiritCon right away</h2>
            <a href="javascript:void(0)" class="bannerblackbtnsml"><span>click here</span></a>
          </div>
          <img src="assets/images/indexblock2-img1.jpg">
        </div>
        <div class="contentcentered">
          <h2>Get your Booth Space or table at SpiritCon and bring your readings or business to the <span>convention!</span></h2>
          <a href="javascript:void(0)" class="bannerblackbtnsml"><span>click here</span></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid convention-center-gotoblock">
  <div class="contentwrapper">
    <div class="row row-eq-height">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h2>Go to the agenda page now and see what we have in store for these incredible 2 days!</h2>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <a class="banneryellowbtnsml">click here!</a>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>