<app-header></app-header>


<div class="container-fluid bannerblock">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row row-eq-height">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
                            <img src="assets/images/banner-img1.jpg"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
                            <div class="bannerblockcontent">
                                <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
                                <h3>Held at the beautiful Davis Convention Center in Layton, UT </h3>
                                <h4>1651 N 700 W, Layton, UT 84041</h4>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)" class="getstarted"><span>Get Tickets</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>Get a Booth or Table!</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>See our Agenda</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="row row-eq-height">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
                            <img src="assets/images/banner-img2.jpg"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
                            <div class="bannerblockcontent">
                                <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
                                <h3>Come and be part of our community and show your support for the</h3>
                                <h4>alternative spiritual paths we all walk!</h4>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)" class="getstarted"><span>Get Tickets</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>Get a Booth or Table!</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>See our Agenda</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="row row-eq-height">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
                            <img src="assets/images/banner-img3.jpg"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
                            <div class="bannerblockcontent">
                                <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
                                <h3>Energy Classes include Empathic Defense, Chi Gung, Chakras, Photonic</h3>
                                <h4>Method and Dance Chant Magic.</h4>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)" class="getstarted"><span>Get Tickets</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>Get a Booth or Table!</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>See our Agenda</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="row row-eq-height">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
                            <img src="assets/images/banner-img4.jpg"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
                            <div class="bannerblockcontent">
                                <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
                                <h3>Divination classes include Tarot reading, Tea Leaf reading, Casting bones,</h3>
                                <h4>Astrology, Runes, Pendulum, and Sigils.</h4>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)" class="getstarted"><span>Get Tickets</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>Get a Booth or Table!</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>See our Agenda</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row row-eq-height">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
                            <img src="assets/images/banner-img5.jpg"/>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
                            <div class="bannerblockcontent">
                                <h2>March 31st and April 1st join us for 2 incredible days of pagan spirit, magic, healing and community!</h2>
                                <h3>Craft classes include Everyday Crafting, Flat Magic (Paper Crafts),</h3>
                                <h4>Altars, and Crystal Grids.</h4>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0)" class="getstarted"><span>Get Tick ets</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>Get a Booth or Table!</span></a></li>
                                    <li><a href="javascript:void(0)" class="bannerblackbtn"><span>See our Agenda</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Left and right controls
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>-->
    </div>
</div>

<div class="container-fluid indexblock1">
    <div class="row">
        <div class="container contentwrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
                <div class="indexblock1img1leftwrapper">
                    <img src="assets/images/indexblock1-img1.jpg">
                </div>
                <div class="contentcentered">
                    <h2>Come to SpiritCon for one of the most incredible learning experiences of your lifetime!</h2>
                    <p>Dozens of speakers, trainers and spiritual healers are all coming together in one place for 2 incredible days of sharing. We are a Spiritual Convention centered on enriching our connection with nature, deities, ourselves, and, of course, each other. Join us as we bring all paths together to connect, grow, learn, and understand.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid indexblock2">
    <div class="row">
        <img src="assets/images/indexblock2-img2mobile.jpg" class="indexblock2-img2mobile" />
        <div class="container contentwrapper">
            <img src="assets/images/indexblock2-img1.jpg" class="indexblock2-img1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock2contentwrapper">
                <div class="indexblock2img1leftwrapper">
                    <div class="indexblock2img1leftwrapperheader">
                        <h2>Get your tickets for both incredible days at SpiritCon right away</h2>
                        <a href="javascript:void(0)" class="bannerblackbtnsml"><span>click here</span></a>
                    </div>
                    <img src="assets/images/indexblock2-img1.jpg">
                </div>
                <div class="contentcentered">
                    <h2>Get your Booth Space or table at SpiritCon and bring your readings or business to the <span>convention!</span></h2>
                    <a href="javascript:void(0)" class="bannerblackbtnsml"><span>click here</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid indexblock3">
    <div class="row">
        <img src="assets/images/indexblock3bgmobile.jpg" class="indexblock3bgmobile" />
        <div class="container contentwrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock3contentwrapper">
                <div class="contentcentered">
                    <h2>coming March 31st and April 1st starting at 9AM each day to the Davis Conference Center in Layton is SpiritCon.</h2>
                    <p>This is a non-denominational convention for everyone who wants to learn more about energy in a number of different ways; new, experienced, or just curious. Join us for two days brimming with classes and panels on energy, personal spiritual growth, divination, traditions, classes for kids, and much more. </p>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)" class="getstarted"><span>Get Tickets</span></a></li>
                        <li><a href="javascript:void(0)" class="bannerblackbtn"><span>Get a Booth or Table!</span></a></li>
                        <li><a href="javascript:void(0)" class="bannerblackbtn"><span>See our Agenda</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid indexblock4">
    <div class="row">
        <div class="container contentwrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock4contentwrapper">
                <div class="indexblock4img1leftwrapper">
                    <img src="assets/images/indexblock4-img1.jpg">
                </div>
                <div class="contentcentered">
                    <h2>Besides all of the amazing presentations we will also have panels that will include:</h2>
                    <p> What is a Witch/Witchcrafting, Comparative Systems in Paganism, How to Support your Witch, Community for Solitaries, Safety (Warding, Physical, Etc.), Spell Writing, Meditation, and Ritual Construction.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid indexblock5">
    <div class="row">
        <img src="assets/images/indexblock5bgmobile.jpg" class="indexblock5bgmobile" />

        <div class="container contentwrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock5contentwrapper">
                <div class="contentcentered">
                    <h2>Classes that will be offered at our <span>two-day event</span></h2>
                    <ul class="list-inline indexblock5lists">
                        <li><span>Craft classes include Everyday Crafting, Flat Magic (Paper Crafts), Altars, and Crystal Grids.</span></li><li><span>Energy Classes include Empathic Defense, Chi Gung, Chakras, and Dance Chant Magic.</span></li><li><span>Nature classes include Animals (Totems and More), Plants, Rocks/Crystals, and Mythical Creatures.</span></li><li><span>Cycles classes include Wheel of the Year, Lunar, Mysteries, and Places of Power.</span></li><li><span>Traditions classes include Greek/Roman, Celtic, Egyptian, Norse, Root Magic, Intro to Qabala, and Beginning Devotional Practices.</span></li><li><span>Divination classes include Tarot reading, Tea Leaf reading, Casting bones, Astrology, Runes, Pendulum, and Sigils.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid indexblock6">
    <div class="row">
        <img src="assets/images/indexblock6bgmobile.jpg" class="indexblock6bgmobile" />
        <div class="container contentwrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock6contentwrapper">
                <div class="contentcentered">
                    <h2>We also have some wonderful events for the children!</h2>
                    <p>Kids Classes will be broken into three age groups 3 to 7 (Sprites), 8 to 13 (Leprechaun), 14 to 17 (Goblins). Each age group will go over a variant of the following classes: Herbs, Moon Phases, Crystals, Tools, Grounding, and Animal Spirits.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid indexblock7">
    <div class="row">
        <img src="assets/images/indexblock7bgmobile.jpg" class="indexblock7bgmobile" />
        <div class="container contentwrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock7contentwrapper">
                <div class="contentcentered">
                    <h2>We will have a vendor room full of crystals, wood burned items, hand tooled leather works, jewelry, hand made crafts, soaps, candles, and more to aid in your spiritual journey.</h2>
                    <p>There will also be a reader and healer room for Tarot, Medium, and Psychic readings, as well as Reiki and Pranic Healing, and a wonderful massage therapist.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>